<div id="content">
	<sa-widgets-grid>
		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<sa-widget>
					<header>
						<h2><strong>Patients</strong> <i>View Patient</i></h2>
					</header>
					<div role="content">
						<div class="jarviswidget-editbox">
						</div>
						<div class="widget-body">
							<form>
								<!-- Patients Information and Demographics -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information and Demographics</legend>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Medical Record No.</label>
										<input class="form-control" placeholder="Medical Record No." type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Patient Number CCC</label>
										<input class="form-control" placeholder="Patient Number" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Last Name</label>
										<input class="form-control" placeholder="Last name" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>First Name</label>
										<input class="form-control" placeholder="First Name" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Other Name</label>
										<input class="form-control" placeholder="Other Name" type="text" disabled="disabled">
									</div>
									<!-- Date picker -->
									<div class="col-sm-6">
										<div class="form-group">
											<label>Date of Birth:</label>
											<div class="input-group">
												<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }"
													disabled="disabled">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>
									<!-- End of date picker -->
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Place of birth</label>
										<input class="form-control" placeholder="Patient Number" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Years)</label>
										<input class="form-control" placeholder="Age (Years)" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Months)</label>
										<input class="form-control" placeholder="Age (Months)" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Gender</label>
										<select class="form-control" id="select-1" disabled="disabled">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Weight</label>
										<input class="form-control" placeholder="Weight" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Height</label>
										<input class="form-control" placeholder="Height" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Body Surface Area (MSQ)</label>
										<input class="form-control" placeholder="<<auto generate>>" type="text" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Patient Phone Contacts</label>
										<input class="form-control" placeholder="e.g 0712345678" type="text" disabled="disabled">
									</div>
									<div class=" form-group col-sm-6">
										<label>Receive SMS Reminders</label>
										<div class="col-md-10">
											<label class="radio radio-inline">															
                        <input type="radio" class="radiobox" name="style-0a">
                        <span>Yes</span>                                 
                      </label>
											<label class="radio radio-inline">
                        <input type="radio" class="radiobox" name="style-0a">
                        <span>No</span>  
                      </label>
										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Patients Physical Contact(s)</label>
										<textarea class="form-control" placeholder="Textarea" rows="3" disabled="disabled"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does patient belong to any support group?</label>
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox">If Yes, List them</label>
										</div>
										<textarea class="form-control" placeholder="Textarea" rows="3" disabled="disabled"></textarea>
									</div>
								</fieldset>
								<!-- Patient History -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient History</legend>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have other Chronic Illnesses</label>
										<select class="form-control" id="select-1" placeholder="--Select Options--" disabled="disabled">
                      <option>--Select--</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>If other Illnesses</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Click Here</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them Below (Use Commas to Separate)</label>
										<textarea class="form-control" rows="2" disabled="disabled"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Is Patient Taking any Other Drugs?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" disabled="disabled"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Allergies/ADR</label>
										<select class="form-control" id="select-1" placeholder="--Select Options--" disabled="disabled">
                      <option>--Select--</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have any Other Drugs/ADR not Listed?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" disabled="disabled"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Smoke?</label>
										<select class="form-control" id="select-1" placeholder="No" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Drink Alcohol?</label>
										<select class="form-control" id="select-1" placeholder="No" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Has Patient been tested for TB?</label>
										<select class="form-control" id="select-1" placeholder="No" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient have TB?</label>
										<select class="form-control" id="select-1" placeholder="No" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
								</fieldset>

								<!-- Patient Information -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information</legend>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Date Patient Enrolled</label>
										<div class="input-group">
											<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }"
												disabled="disabled">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Current Status</label>
										<select class="form-control" id="select-1" placeholder="Active" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="col-sm-12">
										<label>Source of Patient</label>
										<select class="form-control" id="select-1" placeholder="VCT" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Type of Service</label>
										<select class="form-control" id="select-1" placeholder="ART" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen</label>
										<select class="form-control" id="select-1" placeholder="--Select One--" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen Date</label>
										<div class="input-group">
											<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }"
												disabled="disabled">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>WHO Stage</label>
										<select class="form-control" id="select-1" placeholder="Stage 1" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Prophylaxis</label>
										<select class="form-control" id="select-1" placeholder="Dapsone" disabled="disabled">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
									</div>
								</fieldset>
								<fieldset class="col-xs-48 col-sm-12 col-md-12 col-lg-12">
									<div>
										<!-- widget content -->
										<div class="widget-body">
											<hr class="simple">
											<ul id="myTab3" class="nav nav-tabs tabs-pull-right bordered">
												<li [class.active]="state.tabs.demo6=='l1'" class="active">
													<a (click)="state.tabs.demo6 = 'l1'">Viral Load Data</a>
												</li>
												<li [class.active]="state.tabs.demo6=='l2'" class="pull-right">
													<a (click)="state.tabs.demo6 = 'l2'">Patient Info Report</a>
												</li>
												<li [class.active]="state.tabs.demo6=='l2'" class="pull-right">
													<a (click)="state.tabs.demo6 = 'l3'">Edit Patient Record</a>
												</li>
												<li [class.active]="state.tabs.demo6=='l2'" class="pull-right">
													<a (click)="state.tabs.demo6 = 'l4'">Dispense to Patient</a>
												</li>
											</ul>

											<tabset class="padding-10">
												<tab [active]="state.tabs.demo6 == 'l1'">
													<p>
														My therapist told me the way to achieve true inner peace is to finish what I start. So far I’ve finished two bags of M&Ms
														and a chocolate cake. I feel better already.
													</p>
												</tab>

												<tab [active]="state.tabs.demo6 == 'l2'">
													<p>
														Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog
														sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
													</p>
												</tab>
												<tab [active]="state.tabs.demo6 == 'l3'">
													<p>
														Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table
														readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia
														banksy hoodie helvetica. DIY synth PBR banksy irony.
													</p>
												</tab>
												<tab [active]="state.tabs.demo6 == 'l4'">
													<p>
														Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid
														scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo
														park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
													</p>
												</tab>
											</tabset>

										</div>
										<!-- end widget content -->

									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</sa-widget>
			</article>
		</div>
	</sa-widgets-grid>
</div>