<div id="content">

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">

        <sa-widget [editbutton]="false" color="blueDark">
          <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Patients</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <!-- This is where the configuration of the datatable takes place. -->
              <sa-datatable [options]="
        {
          colReorder: false,
          ajax: 'assets/api/tables/patients.dummy.json',
          columns: [{data: 'ccc_no'}, {data: 'patient_name'}, {data: 'next_appointment'} , {data: 'contact'}, {data: 'current_regimen'}, {data: 'status'}], 
          buttons: ['copy', 'excel', 'pdf', 'print']
        }" filter="true" tableClass="table table-condenced table-striped table-bordered" width="80%">
                <thead>
                  <tr>
                    <th class="hasinput"><input type="text" class="form-control" placeholder="Filter CCC No" />
                    </th>
                    <th class="hasinput">
                      <div class="input-group"><input class="form-control" placeholder="Filter Patient Name" type="text" /> <span class="input-group-addon"> <span class="onoffswitch"> <input
              type="checkbox" name="start_interval" class="onoffswitch-checkbox"
              id="st3"/> <label class="onoffswitch-label" for="st3"> <span
              class="onoffswitch-inner" data-swchon-text="YES"
              data-swchoff-text="NO"></span> <span class="onoffswitch-switch"></span> </label>
                        </span>
                        </span>
                      </div>
                    </th>
                    <th class="hasinput icon-addon"><input id="dateselect_filter" type="text" placeholder="Filter Appointment" class="form-control datepicker"
                        data-dateformat="yy/mm/dd" />
                    </th>
                    <th class="hasinput"><input type="text" class="form-control" placeholder="Filter Contact" />
                    </th>
                    <th class="hasinput"><input type="text" class="form-control" placeholder="Filter Current Regimen" />
                    </th>

                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Status" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Action" /></th>
                  </tr>
                  <tr>
                    <th data-class="expand">CCC No</th>
                    <th>Patient Name</th>
                    <th data-hide="phone">Next Appointment</th>
                    <th data-hide="phone">Contact</th>
                    <th data-hide="phone,tablet">Current Regimen</th>
                    <th data-hide="phone,tablet">Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>