<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

        <li routerLinkActive="active">
            <a routerLink="/home" title="Home">
                <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
        </li>
        					<!-- !! Patients Zone Begin !! -->
					<li>
						<a href="#" title="Patients"><i class="fa fa-lg fa-fw fa-medkit"></i> <span class="menu-item-parent"> PATIENTS</span></a>
						<ul>
							<li>
							<a [routerLink]="['/patients/add-patient']"><span class="menu-item-parent"><i class="glyphicon glyphicon-plus"></i> Add patients</span></a>
							</li>
							<li>
							<a [routerLink]="['/patients/list-patients']"><span class="menu-item-parent"><i class="fa fa-lg fa-fw fa-table"></i> List of Patients</span></a>
							</li>
							<li>
							<a href="#"><span class="menu-item-parent"><i class="fa fa-download"></i> Patients master List</span></a>
							</li>
						</ul>
					</li>
					<!-- !! Patients Zone End !! -->
					<!-- !! Inventory Zone Begin !! -->
					<li>
						<a href="#" title="Inventory"><i class="fa fa-lg fa-fw fa-bank"></i> <span class="menu-item-parent"> INVENTORY</span></a>
						<ul>
							<li>
							<a href="#"><span class="menu-item-parent">Stock transactions</span></a>
							<ul>
								<li>
								<a href="#"><span class="menu-item-parent">Receive/Issue</span></a>
								</li>
							</ul>
							</li>			
							<li>
							<a href="#"><span class="menu-item-parent">Stores</span></a>
							</li>
						</ul>
					</li>
					<!-- !! Inventory Zone End !! -->
					<!-- !! Orders Zone Begin !! -->
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-bars" aria-hidden="true"></i> <span class="menu-item-parent"> ORDERS</span></a>
						<ul>
							<li>
							<a href="#"><span class="menu-item-parent"><i class="fa fa-table"></i> My CDDRs</span></a>							
							</li>
							<li>
							<a href="#"><span class="menu-item-parent"><i class="fa fa-table"></i> My MAPs</span></a>
							</li>			
							<li>
							<a href="#"><span class="menu-item-parent"><i class="fa fa-file-excel-o"></i> My Templates</span></a>
							</li>
						</ul>
					</li>
					<!-- !! Orders Zone End !! -->
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
